* {
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background: #3b4664;
}

button {
  border: none;
  outline: none;
  box-shadow: 5px 5px 8px #000;
  transition: all 0.5s ease-in-out;
}

button:hover {
  scale: 1.1;
  cursor: pointer;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.display_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 12%;
  border-radius: 1rem;
  background: #181f32;
}

.display_input {
  background-color: #181f32;
  color: #ffffff;
  font-size: 1.6rem;
  text-align: end;
  letter-spacing: 0.6rem;
  border: none;
  height: 4rem;
  width: 90%;
  outline: none;
}

.main_keys {
  height: 30rem;
  width: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 1rem;
  background: #252d44;
}

.key_row_1 > button,
.key_row_2 > button,
.key_row_3 > button,
.key_row_4 > button {
  width: 20%;
  height: 2.5rem;
  font-size: 1.3rem;
  border-radius: 0.6rem;
  background: #eae3db;
}

.key_row_1,
.key_row_2,
.key_row_3,
.key_row_4,
.key_row_5 {
  display: flex;
  justify-content: space-evenly;
}

.key_row_5 > button {
  width: 44.5%;
  height: 2.5rem;
  font-size: 1.3rem;
  border-radius: 0.6rem;
}

.key_row_1 > button:last-of-type {
  color: #fff;
  background: #647299;
}

.key_row_5 > button:first-of-type {
  background: #647299;
  color: #fff;
}
.key_row_5 > button:last-of-type {
  background: #d13f30;
  color: #fff;
}

.key_row_1 > button:last-of-type:hover {
  cursor: url("./icons8-trash-32.png"), pointer;
}

.key_row_5 > button:first-of-type:hover {
  cursor: url("./icons8-reset-32.png"), pointer;
}

.key_row_5 > button:last-of-type:hover {
  cursor: url("./icons8-calculate-36.png"), pointer;
}

@media screen and (max-width: 1068px) {
  .display_screen {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  .main_keys {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 435px) {
  .main_keys {
    width: 80vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
  }

  .display_screen {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .key_row_1 > button:last-of-type {
    font-size: 11px;
  }

  .key_row_5 > button:first-of-type {
    font-size: 11px;
  }

  .key_row_1 > button,
  .key_row_2 > button,
  .key_row_3 > button,
  .key_row_4 > button,
  .key_row_5 > button {
    height: 1.8rem;
    font-size: 15px;
  }
}
